<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.networkstacktetheringoverlay.mt6893">

    <application android:hasCode="false" />
    <overlay android:targetPackage="com.android.networkstack.tethering"
             android:isStatic="true"
             android:priority="0"/>
</manifest>
