<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.wifioverlay.cupida">

    <application android:hasCode="false" />
    <overlay android:targetPackage="com.android.wifi.resources"
             android:isStatic="true"
             android:priority="0"
             android:requiredSystemPropertyName="ro.vendor.device"
             android:requiredSystemPropertyValue="cupida"/>
</manifest>
